<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown</title>
</head>
<body>
    <h1>Countdown Clock</h1>
    <div id="clockdiv">
         <div> 
            <span class="days" id="day">{{days}}</span> 
            <div class="smalltext">days</div> 
          </div>
          <div> 
            <span class="hours" id="hour">{{hours}}</span> 
            <div class="smalltext">hours</div> 
          </div>
          <div> 
            <span class="minutes" id="minute">{{minutes}}</span> 
            <div class="smalltext">minutes</div> 
          </div>
          <div> 
            <span class="seconds" id="second">{{seconds}}</span> 
            <div class="smalltext">seconds</div> 
          </div>
              </div>
</body>
</html>
<!-- <p>Countown to Christmas : {{days}} days {{hours}} hours {{minutes}} minutes {{seconds}} seconds to christmas</p>-->
<!-- <p [text]="test"></p> -->
