hack1/green_team/obj/Debug/netcoreapp3.1/minihack.csprojAssemblyReference.cache
hack1/green_team/obj/Debug/netcoreapp3.1/minihack.AssemblyInfoInputs.cache
hack1/green_team/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
hack1/green_team/obj/Debug/netcoreapp3.1/minihack.AssemblyInfo.cs
node_modules
