.map {
    height: 100vh;
    width: 100vh;
    position: absolute;
    top:0;
    left:0;
}

.mapBlock {
    background-color: red;
    position: absolute;
}

.vehicle {
    background-color: green;
    position: absolute;
    transition: 290ms;
}

.distances {
    position:absolute;
}